[package]
name = "webauthn-authenticator-rs"
version = "0.4.7"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2021"
license = "MPL-2.0"
description = "Webauthn Authenticator Client Library"
# documentation = "https://docs.rs/kanidm/latest/kanidm/"
repository = "https://github.com/kanidm/webauthn-rs"

[features]
u2fhid = ["authenticator"]
nfc = ["pcsc"]
usb = ["hidapi"]
win10 = ["windows"]

default = []

[package.metadata.docs.rs]
all-features = true

[dependencies]
base64urlsafedata = { version = "0.1", path = "../base64urlsafedata" }
webauthn-rs-proto = { version = "0.4.7", path = "../webauthn-rs-proto" }
webauthn-rs-core = { path = "../webauthn-rs-core" }

tracing = "0.1"
url = "2"
uuid = "1"
serde_json = "1.0"
nom = "7.1"
serde_cbor = { version = "0.12.0-dev", package = "serde_cbor_2" }
openssl = "0.10"
rpassword = "5.0"

# authenticator = { path = "../../../authenticator-rs", optional = true, default-features = false, features = ["crypto_openssl"], package = "authenticator-ctap2-2021" }
authenticator = { version = "0.3.2-dev.1", optional = true, default-features = false, features = ["crypto_openssl"], package = "authenticator-ctap2-2021" }

pcsc = { version = "2", optional = true }
hidapi = { version = "1.4.2", optional = true }
windows = { version = "0.41.0", optional = true, features = ["Win32_Graphics_Gdi", "Win32_Networking_WindowsWebServices", "Win32_Foundation", "Win32_UI_WindowsAndMessaging", "Win32_System_LibraryLoader", "Win32_Graphics_Dwm" ] }
serde = { version = "1.0", features = ["derive"] }
bitflags = "1.3.2"
unicode-normalization = "0.1.22"

[dev-dependencies]
tracing-subscriber = { version = "0.3", features = ["env-filter", "std", "fmt"] }
base64 = "0.13"

