[package]
name = "webauthn-rs-demo"
version = "0.1.0"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2021"
rust-version = "1.67.0"
build = "build.rs"

description = "Webauthn Demonstration Server"
repository = "https://github.com/kanidm/webauthn-rs"
readme = "README.md"
license = "MPL-2.0"

[dependencies]
webauthn-rs-demo-shared = { path = "../webauthn-rs-demo-shared", features = [
    "core",
] }
webauthn-rs-core.workspace = true
webauthn-rs = { workspace = true, features = [
    "resident-key-support",
    "preview-features",
    "danger-allow-state-serialisation",
] }
tide.workspace = true
tide-rustls = "0.3"
async-std.workspace = true
openssl.workspace = true
structopt = { version = "0.3", default-features = false }
rustls = "0.19.0"
tracing.workspace = true
tracing-subscriber.workspace = true
rand.workspace = true
url = { workspace = true, features = ["serde"] }

serde.workspace = true
