on: [push]

name: CI

jobs:
  build_and_test:
    name: WebAuthn Rust Frameworks (Build and Test)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo build --release
      - run: cargo test --all
